# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example
capstone-aws/terraform.tfstate.backup
capstone-aws/tfplan
capstone-aws/.terraform.lock.hcl
capstone-aws/.terraform.tfstate.lock.info
capstone-aws/.terraform/providers/registry.terraform.io/hashicorp/aws/6.21.0/darwin_arm64/LICENSE.txt
capstone-aws/.terraform/providers/registry.terraform.io/hashicorp/aws/6.21.0/darwin_arm64/terraform-provider-aws_v6.21.0_x5
